html {
	cursor:crosshair;
}
body {
	cursor:crosshair;
	width:100%;
	height:100%;
}
#greeting {
    /*margin-left: 40%;
    width: 400px;*/
}

#log {
}

#totalFeels {
    margin-left: 40%;
    font-weight: bold;
	display:none;
}

span {
    font-weight: bold
}

#lastText {
	display:none;
}
