#greeting {
    margin-left: 40%;
    width: 400px;
}

#log {
    height: 150px;
    margin-left: 20%;
    width: 50%;
}

#totalFeels {
    margin-left: 40%;
    font-weight: bold;
}

span {
    font-weight: bold
}
